<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
<title></title>

</head>
<body>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">访问model</h3>
	</div>
	<div class="panel-body">
		<span th:text="${singlePerson.name}"></span>
	</div>
</div>

<div th:if="${not #lists.isEmpty(people)}">
	<div class="panel panle -primary">
		<div class="panel-heading">
			<h3 class="panel-title">列表</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item" th:each="person:${people}">
					<span th:text="${person.name}"></span>
					<span th:text="${person.age}"></span>
					<button class="btn" th:onclick="'getName(\''+${person.name} + '\');'">获得名字</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<script th:src="@{js/jquery-2.1.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" charset="UTF-8" th:inline="javascript">
	var single=[[${singlePerson}]];
	console.log(single.name+"/"+single.age);
	
	function getName(name){
		console.log(name);
	}
</script>
</body>
</html>